@model PingSite.Models.Host.ListHosts

<div class="container">
    <div class="row">
        <div class="col-lg" style="text-align: center;">
            <h1>Hosts</h1>
        </div>
    </div>
</div>

<div class="container container-back">
    <div class="row">
        <div class="col-lg" style="text-align: center; margin-bottom: 10px;">
            <a asp-controller="Host" asp-action="RefreshStatus" asp-route-roomId="@ViewBag.RoomId" class="btn btn-primary"><i class="fas fa-sync-alt"></i> Refresh Status</a>
            <a asp-controller="Host" asp-action="Add" asp-route-id="@ViewBag.RoomId" class="btn btn-primary"><i class="fas fa-plus"></i> Add</a>
        </div>
    </div>

    @foreach (var category in Model.Categories)
    {
        @if (Model.Hosts.Where(x => x.Category.Id == category.Id).Count() > 0)
        {
            <div class="row" style="padding: 15px;">
                <div class="col-lg">
                    <h3>@category.Name</h3>
                </div>
            </div>
        }
        @foreach (var host in Model.Hosts)
        {
            @if (category.Id == host.Category.Id)
            {
                <div class="row">
                    <div class="col-lg">
                        <div class="list">
                            <img src="@host.Category.ImgUrl" width="37" height="37">
                            @if (host.LastStatus)
                            {
                                <span style="color: green"><b>@host.Name</b></span>
                            }
                            else
                            {
                                <span style="color: red"><b>@host.Name</b></span>
                            }
                            <div class="options">
                                <a asp-controller="Host" asp-action="Details" asp-route-id="@host.Id" class="btn btn-outline-success"><i class="fas fa-info-circle"></i> Details</a>
                                <div class="d-none d-lg-inline">
                                    <a asp-controller="Host" asp-action="Edit" asp-route-id="@host.Id" asp-route-roomId="@host.Room.Id" asp-route-allHosts="true" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Edit</a>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="setHrefForDelete('/Host/Delete/@host.Id?roomId=@host.Room.Id')">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </button>
                                </div>
                                <div class="dropdown d-lg-none d-xl-none" style="display: inline;">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a asp-controller="Host" asp-action="Edit" asp-route-id="@host.Id" asp-route-roomId="@host.Room.Id" asp-route-allHosts="true" class="btn btn-outline-primary dropdown-item"><i class="fas fa-edit"></i> Edit</a>
                                        <button type="button" class="btn dropdown-item" data-toggle="modal" data-target="#deleteModal" onclick="setHrefForDelete('/Host/Delete/@host.Id')">
                                            <font color="red"><i class="fas fa-trash-alt"></i> Delete</font>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Host</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
                <a id="deleteHostModal" href="#" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
            </div>
        </div>
    </div>
</div>