@model IEnumerable<PingSite.Core.DTO.HostDto>

<div class="row">
    <div class="col-lg" style="text-align: center;">
        <h1>Hosts</h1>
        <a asp-controller="Host" asp-action="Add" asp-route-id="@ViewBag.RoomId" class="btn btn-primary" style="margin-bottom: 10px;">Add</a>
    </div>
</div>

<div class="row">
    <div class="col-lg">
        @foreach (var h in Model)
        {
            <div class="row">
                <div class="col-lg">
                    <div class="list">
                        <img src="~/images/computer.png" width="37" height="37">
                        @if (h.LastStatus)
                        {
                            <span style="color: green"><b>@h.Name</b></span>
                        }
                        else
                        {
                            <span style="color: red"><b>@h.Name</b></span>
                        }
                        <div class="options">
                            <a asp-controller="Host" asp-action="Edit" asp-route-id="@h.Id" asp-route-roomId="@ViewBag.RoomId" class="btn btn-outline-primary">Edit</a>
                            <a href="#" class="btn btn-outline-primary">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>