@model IEnumerable<PingSite.Core.DTO.RoomDto>

<div class="row">
    <div class="col-lg" style="text-align: center;">
        <h1>Rooms</h1>
        <a asp-controller="Room" asp-action="Add" asp-route-id="@ViewBag.BuildingId" class="btn btn-primary" style="margin-bottom: 10px;">Add</a>
    </div>
</div>

<div class="row">
    <div class="col-lg">
        @foreach (var r in Model)
        {
            <div class="row">
                <div class="col-lg">
                    <div class="list">
                        <img src="~/images/room.png" width="30" height="37"> <a href="#">@r.Name</a>
                        <div class="options">
                            <a asp-controller="Room" asp-action="Edit" asp-route-id="@r.Id" asp-route-buildingId="@ViewBag.BuildingId" class="btn btn-outline-primary">Edit</a>
                            <a asp-controller="Room" asp-action="Delete" asp-route-id="@r.Id" asp-route-buildingId="@ViewBag.BuildingId" class="btn btn-outline-primary">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>